html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100vw;
}

body {
  min-height: 100vh;
  

  background: rgb(255, 237, 224) linear-gradient(356deg, rgba(255, 237, 224, 1) 0%, rgba(255, 237, 224, 1) 0%, rgba(250, 247, 252, 1) 75%);
  background-repeat: no-repeat;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}